name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dynamic-pricing
    steps:
    - uses: actions/checkout@v4
    - name: Build Docker image
      run: docker build -t interview-app .
    - name: Run the container
      run: docker run -d -p 3000:3000 -v $(pwd):/rails --name interview-dev interview-app
    - name: Run all tests
      run: docker container exec interview-dev ./bin/rails test